html {
  font-size: 16px;
}
body {
  color: #4A4A4A;
  font-family: Tahoma;
  background-color: white;
  padding: 0;
  margin: 0;
}
p {
  font-size: 0.9rem;
  line-height: 1.5;
}
h1 {
  font-weight: bolder;
  font-size: 2rem;
  line-height: 1.25;
}
h2 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
}
/* header */
header {
  width: 100%;
  height: 4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a,
header nav ul {
  display: flex;
  align-items: center;
}
header #colmar {
  color: #4A4A4A;
  font-weight: bolder;
}
header #academy {
  color: #9B9B9B;
  font-weight: bold;
}
@media only screen and (min-width: 480px) {
  .desktop .logo {
    padding-left: 1.5rem;
  }
  .desktop ul {
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 1.5rem;
  }
  .desktop li {
    padding: 0 0.5rem;
  }
  .mobile li {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .mobile ul {
    width: 100%;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .desktop a,
  .desktop li {
    display: none;
  }
}
/* start */
.banner-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #D8D8D8;
}
.banner-start img {
  display: block;
  width: 60%;
  height: 60%;
  padding: 2rem 1.5rem;
}
.button {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1.5rem;
}
.button h1 {
  font-weight: bold;
  padding: 1rem 0;
}
.button h2 {
  padding: 1rem 0;
}
.button span {
  text-align: center;
  background-color: #4A4A4A;
  color: white;
  padding: 0.5rem 0;
  margin-top: 1rem;
}
@media only screen and (max-width: 480px) {
  .banner-start {
    flex-direction: column;
  }
  .banner-start img {
    width: 100%;
    padding: 0;
  }
  .button {
    padding: 2rem 1rem;
    align-items: flex-start;
  }
  .button h1 {padding-bottom: 2rem}
  .button h2 {padding-bottom: 1.5rem}
  .button span {
    width: 100%;
  }
}
/* info */
.banner-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: #F3F5F5;
}
.info-block-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem 1.5rem;
  width: 60%;
  border-right: 1px solid lightgray;
}
.info-block-left h1 {
  padding: 2rem 0 1.5rem 0;
}
.info-block-left img {
  width: 100%;
}
.info-block-right {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.info-small {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-small img {
  padding: 1rem;
  width: 35%;
  height: 35%;
}
.info-small p {
  padding: 0.5rem 0;
}
.info-small a {
  color: blue;
}
@media only screen and (max-width: 480px) {
  .info-block-left {
    display: none;
  }
  .info-block-right {
    width: 100%;
  }
  .info-small {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .info-small img {
    width: 100%;
    padding: 1rem;
  }
  .info-small .text {
    padding: 1rem;
    text-align: left;
  }
  .info-block-right .desktop {
    display: none;
  }
}
@media only screen and (min-width: 480px) {
  .info-block-right .mobile {
    display: none;
  }
  .info-small #bottom {
    background-color: darkgray;
  }
}
/* Courses */
.banner-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #D8D8D8;
  padding: 2rem 0;
}
.banner-courses h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.courses-table {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;;
  justify-content: center;
  width: 100%;
  height: auto;
}
.course-box {
  width: 25%;
  height: 25%;
  margin: 1rem;
  background-color: white;
}
.course-box img {
  width: 100%;
}
.course-box h2 {
  font-weight: bold;
  padding: 1rem;
}
.course-box p {
  padding: 0.5rem 1rem;
}
/* thesis */
.banner-thesis {
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: #F3F5F5;
  padding: 2rem 0;
}
.thesis-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;;
  padding: 2rem 0;
}
.thesis-block-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  padding: 0 1rem 2rem 1.5rem;
}
.thesis-block-left video {
  width: 100%;
  padding-bottom: 1.5rem;
}
.thesis-block-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.thesis-small {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thesis-small img {
  padding: 1rem;
  width: 35%;
  height: 35%;
}
.thesis-small #top {
  background-color: #F3F5F5;
}
@media only screen and (max-width: 480px) {

}
@media only screen and (min-width: 480px) {

}
footer {

}
